@model ExamGeneratorModel.ViewModel.ExamCoreViewModel

@{
    ViewBag.Title = "Details";
}

<h2>
    Exam: <b>
        @Html.DisplayFor(model => model.Name)

    </b>
</h2>

<div>
    <div class="panel-group">
        @for (int i = 0; i < Model.Questions.Count(); i++)
        {

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse_@i">@Html.DisplayFor(model => Model.Questions[i].QuestionText)</a>
                    </h4>
                </div>
                <div id="collapse_@i" class="panel-collapse collapse">

                    @for (int j = 0; j < Model.Questions[i].Answers.Count(); j++)
                    {
                        if (Model.Questions[i].Answers[j].IfCorrect == true)
                        {
                            <div class="panel-body" style="background-color: #28a745;">
                                @Html.DisplayFor(model => Model.Questions[i].Answers[j].TextAnswer)
                            </div>
                        }
                        else
                        {
                            <div class="panel-body" style="background-color: red;">
                                @Html.DisplayFor(model => Model.Questions[i].Answers[j].TextAnswer)
                            </div>
                        }

                    }

                </div>
            </div>
        }
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
   var getUrl = '@Url.Action("GetPdfExam", "Exams", new { id = Model.Id })';

</script>
<script src="~/Script/exam.js"></script>
