@model IEnumerable<ExamGeneratorModel.Model.Student>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .fa {
        margin-left: 8px;
        margin-right: 2px;
    }
</style>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <input type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseFile" aria-controls="collapseFile" value="Add Students From File" />
        </div>
    </div>

    <div class="collapse row" id="collapseFile">
        <div class="col-md-9"></div>
        <div class="col-md-3">
         
            <div class="input-group">
                <input type="text" class="form-control" readonly>
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" name="FileUpload" id="fileInput" style="display: none;" accept=".csv">
                    </span>
                </label>
            </div>
            <button class="btn btn-primary" onclick="sendFileWithStudents()">
                Upload<i id="spinner" class="fa fa-spinner fa-spin" style="display: none;"></i>
            </button>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Email, "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>


<script>
     var jquerryFileUploadHref = "@Url.Action("CreateStudentsFromFile")"
</script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="~/Script/students-index.js"></script>